.images {
  display: flex;
  gap: 19px;
  margin-bottom: 80px;
  align-items: center;
  justify-content: center;

  @include media-tablet {
    margin-bottom: 40px;
  }
}

.title {
  font-size: clamp(36px, 5vw, 84px);
  letter-spacing: 0;
  text-align: center;
  padding: 0 16px;
}

.bg {
  position: absolute;
  bottom: 120px;
  left: 0;
  width: 100%;

  @include media-tablet {
    bottom: 60px;
  }
}

.step1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.fire {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
}

.earth {
  width: 100%;
  position: absolute;
  bottom: 120px;
  left: 0;
  z-index: 1;
}

.coals {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.video {
  width: 50px;
  position: absolute;
  bottom: 160px;
  left: 50%;
}

.chucelo {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
