.title {
  font-size: clamp(24px, 4vw, 45px);
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 42px;
  color: #f0742c;
  max-width: 1200px;
  padding: 0 16px;
  display: flex;
  gap: 27px;
  align-items: center;

  @include media-tablet {
    gap: 14px;
    margin-bottom: 21px;
  }
}

.img {
  @include media-tablet {
    width: 50px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 68px;
  row-gap: 17px;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 24px;

  @include media-tablet {
    grid-template-columns: 1fr;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  align-items: center;
  width: auto;
  margin-bottom: 24px;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.2;
}

.imgs {
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 600px;

  @include media-tablet {
    height: 57vw;
    max-height: 100%;
    min-height: 57vw;
  }
}

.chcuelo {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @include media-tablet {
    height: 57vw;
    max-height: 100%;
  }
}

.earth {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nat {
  position: absolute;
  bottom: 30px;
  left: 20vw;
  width: 160px;
  height: 278px;
  object-fit: contain;
  object-position: bottom;

  @include media-tablet {
    width: 60px;
    height: 178px;
    left: -20vw;
    bottom: 10px;
  }
}

.ale {
  position: absolute;
  bottom: 30px;
  right: 20vw;
  width: 191px;
  height: 278px;
  object-fit: contain;
  object-position: bottom;

  @include media-tablet {
    width: 91px;
    height: 178px;
    right: 10vw;
    bottom: 10px;
  }
}

.nat2 {
  position: absolute;
  bottom: 30px;
  left: 20vw;
  width: 364px;
  height: 277px;
  object-fit: contain;
  object-position: bottom;

  @include media-tablet {
    width: 164px;
    height: 177px;
    left: -4vw;
    bottom: 10px;
  }
}

.ale2 {
  position: absolute;
  bottom: 30px;
  right: 20vw;
  width: 307px;
  height: 277px;
  object-fit: contain;
  object-position: bottom;

  @include media-tablet {
    width: 145px;
    height: 177px;
    right: -2vw;
    bottom: 10px;
  }
}

.nat3 {
  left: 30vw;

  @include media-tablet {
    left: -4vw;
  }
}

.ale3 {
  right: 30vw;
  @include media-tablet {
    right: -2vw;
  }
}
