// Fonts
$default-font-family: Miroslav, sans-serif;
$default-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;

@font-face {
  font-family: "Miroslav";
  src: url("../../fonts/Mirosla.ttf") format("truetype");
}
